:root{
    --neon: #dc5eff
}
a{
    text-decoration: none;
}
a:visited{
    color: unset;
}
div.section{
    position: relative;
    height: 100%;
    float: left;
    display: block;
    transition: all ease 400ms;
    overflow: scroll;
    background-size: cover;
}
div.invite{
    position: relative;
    margin: auto;
    padding: 10px 20px;
    width: fit-content;
    background-color: white;
    text-align: center;
    cursor: pointer;
    top: 16%;
    transform: translateY(-50%);
    transition: all ease 200ms;
    border-radius: 4px;
    font-size: 22px;
}
div.invite:hover{
    /*transform: translateY(calc(-50% - 3px));*/
    color: #039be5;
    background-color: whitesmoke;
}
div.invite::before{
    content: '';
    pointer-events: none;
    position: absolute;
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0f4264;
    filter: blur(12px);
    opacity: 0.4;
    transform: rotateX(75deg) scaleX(0.95);
}
.contact{
    position: relative;
    margin: 20px;
    background-color: white;
    padding: 10px 20px;
    border-radius: 4px;
    display: block;
    max-width: 350px;
}
div.contact{
    width: fit-content;
    font-size: 3em;
    color: white;
    background-color: unset;
}
input.contact{
    border: unset;
    width: calc(100% - 100px);
    margin: 0 auto;
    font-size: 1em;
}
textarea.contact{
    border: unset;
    width: calc(100% - 100px);
    margin: 0 auto;
    resize: none;
    height: 150px;
    font-size: 1em;
}
div.send{
    position: absolute;
    right: -100px;
    top: 50%;
    height: 100px;
    background-color: white;
    width: 100px;
    border-radius: 50px 0 0 50px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all ease 200ms, right ease 400ms;
    box-shadow: 0 3px 3px 3px rgba(0,0,0,0.1);
    font-weight: 700;
}
div.send:hover{
    width: 110px;
    background-color: #039be5;
    color: whitesmoke;
}
div.error{
    position: relative;
    background-color: white;
    height: 100px;
    top: -150px;
    border-radius: 50px;
    width: 80%;
    max-width: 500px;
    z-index: 200;
    margin: auto;
    display: block;
    transition: all ease 400ms;
    box-shadow: 0 3px 3px 3px rgba(0,0,0,0.1);
}
div.title{
    position: relative;
    font-size: 3em;
    color: white;
    margin: 20px;
    padding: 10px 20px;
}
div.slideshow{
    position: relative;
    width: 100%;
    float: left;
    margin-top: 100px;
}
div.alternate{
    position: absolute;
    left: 0;
    width: calc(100% - 20px);
    bottom: 0;
    color: white;
    font-size: 0.8em;
    text-align: center;
    margin: 10px;
}
span.alternate{
    color: #039be5;
    cursor: pointer;
}
span.alternate:hover{
    color: #6d1fdb;
}
label.contact{
    font-size: 0.8em;
    background-color: unset;
    color: white;
    margin: 10px auto 0;
}