div.projectDisplay{
    background-color: white;
    color: black;
    width: 350px;
    padding: 20px;
    margin: auto;
    box-shadow: 0 3px 3px 3px rgba(0,0,0,0.1);
    min-height: 200px;
    position: absolute;
    transition: ease all 300ms;
    transform: translateX(-50%) scale(0.9);
    opacity: 0;
}
div.projectTitle{
    float: left;
}
image.projectImage{
    min-height: 200px;
    width: 100%;
}
div.projectButton{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    cursor: pointer;
    transition: ease all 200ms;
}
div.projectButton:hover{
    background-color: rgba(0,0,0,0.1);
}
a.projectSeeMore{
    float: right;
    margin: 0;
    color: #039be5;
    font-weight: 500;
    cursor: pointer;
    transition: ease all 200ms;
}
a.projectSeeMore:hover{
    color: #085080;
}